@import "tailwindcss";

@theme {
    --color-primary-100: #1f1e24,
    --color-secondary-100: #6556cd,
    --color-thrid:#8200db,
}


/* --color-primary: #1f1e24, */
/* --color-secondary: #6556cd, */

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}





::-webkit-scrollbar-thumb {
    background-color: #8200db;
}


/* Hide scrollbar for all browsers */
.scrollbar-hidden {
    overflow-x: auto;
    scrollbar-width: none; /* Firefox */
  }
  
  .scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
  